<h1 class="country-title">
    {{name}}
</h1>
<div class="country-wrapper">
    <ul class="country-list">
        <li><b>Capital:</b> {{capital}}</li>
        <li><b>Population:</b> {{population}}</li>
        <li><b>Languages:</b>
            <ul>
                {{#each languages}}
                <li class="list-style">{{name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img class="country-img" src="{{flag}}" alt="flag">
</div>